<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
		<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WS_COM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WS_COM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
			<customErrors mode="Off"/>
		</system.web>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSUNOEESoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSUNOEESoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSUNOEESoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://wscomoriente.siesacloud.com:8043/wsunoee/WSUNOEE.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSUNOEESoap"
                contract="ServiceReference1.WSUNOEESoap" name="WSUNOEESoap" />
   
        </client>
		
    </system.serviceModel>
    <applicationSettings>
        <WS_COM.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>https://wscomoriente.siesacloud.com:8043/wsunoee/WFPruebaImportar.aspx</value>
            </setting>
            <setting name="NombreConexion" serializeAs="String">
                <value>UnoEE_Comoriente_Real</value>
            </setting>
            <setting name="IdCia" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>adatec</value>
            </setting>
            <setting name="Clave" serializeAs="String">
                <value>RSales2023.</value>
            </setting>
            <setting name="Select_sp" serializeAs="String">
                <value>Pedidos_select</value>
            </setting>
            <setting name="adatec_db" serializeAs="String">
                <value>Data Source=SRVSIIWI\SQLEXPRESS;Initial Catalog=ADATEC_SIESA;Integrated Security=False;user ID=sa;password=Decepticon2014;</value>
            </setting>
            <setting name="Reintentos" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="bd" serializeAs="String">
                <value>ADATEC_SIESA</value>
            </setting>
            <setting name="tabla" serializeAs="String">
                <value>AD_TBL_PEDIDO</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name_app" serializeAs="String">
                <value>pedido_siesa</value>
            </setting>
        </WS_COM.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WS_COM.Properties.Settings>
            <setting name="Select_sp1" serializeAs="String">
                <value>Pagos_select</value>
            </setting>
            <setting name="tabla1" serializeAs="String">
                <value>AD_TBL_RC</value>
            </setting>
        </WS_COM.Properties.Settings>
    </userSettings>
</configuration>